/*Homepage*/
.games-container{
max-width:1100px;
margin:auto;
padding:60px 20px;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
}

.game-card{
background:#0b2a5a;
padding:20px;
border-radius:12px;
text-align:center;
}

.game-card img{
width:180px;
height:180px;
object-fit:cover;
border-radius:10px;
margin-bottom:15px;
}

.game-card h2{
margin-bottom:15px;
color:#ff8c00;
}

.game-card a{
display:inline-block;
background:#ff8c00;
color:white;
padding:10px 20px;
border-radius:6px;
text-decoration:none;
transition:0.3s;
}

.game-card a:hover{
background:#e67800;
}

/* homepage MOBILE */

@media (max-width:768px){

.games-container{
grid-template-columns:1fr;
padding:30px 16px;
}

.hero h1{
font-size:30px;
}

}

.hero{
text-align:center;
padding:70px 20px;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero p{
color:#cfd6e6;
}